#masthead {
  border-bottom: 0;
  padding: 0; /* Override base css values */
}

.site-branding {
  margin: 16px auto 18px;

  img {
    width: 100px;
  }
}

.site-header {
  background: transparent url("//s3.amazonaws.com/reserve.com/homepage/headerbg.jpg") no-repeat scroll center center / cover;
  margin: 0 0 2em;
  padding: 8em 0 2.5em;
}

.site-description {
  @extend h1;
  color: #fff;
  margin: 0 auto;
  letter-spacing: 3.28333px;
  text-transform: uppercase;
}

#secondary {
  padding-left: 0;
}
