.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Hide post navigation for now */
.post-navigation {
	display: none;
}

/* Social icons */
#social-menu {
	margin: 0 0 1em;

	span {
		left: -999em;
		position: absolute;
	}

	li {
		display: inline-block;
	}

	a::before {
		background-color: #959595;
		border-radius: 50%;
		color: #333333;
		content: "\f408";
		font-family: Genericons;
		font-size: 24px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-weight: normal;
		line-height: 1;
		padding: 5px;
		margin: 0 0.125em;
		transition: 200ms color ease-in;
	}

	a:hover {
		text-decoration: none;

		&::before {
			background-color: #cacaca;
		}
	}

	a[href*="codepen.io"]::before {
		content: "\f216";
	}

	a[href*="digg.com"]::before {
		content: "\f221";
	}

	a[href*="dribbble.com"]::before {
		content: "\f201";
	}

	a[href*="facebook.com"]::before {
		content: '\f204';
	}

	a[href*="flickr.com"]::before {
		content: "\f211";
	}

	a[href*="plus.google.com"]::before {
		content: "\f206";
	}

	a[href*="github.com"]::before {
		content: "\f200";
	}

	a[href*="instagram.com"]::before {
		content: "\f215";
	}

	a[href*="linkedin.com"]::before {
		content: "\f208";
	}

	a[href*="pinterest.com"]::before {
		content: "\f210";
	}

	a[href*="polldaddy.com"]::before {
		content: "\f217";
	}

	a[href*="getpocket.com"]::before {
		content: "\f224";
	}

	a[href*="reddit.com"]::before {
		content: "\f222";
	}

	a[href*="skype.com"]::before,
	a[href*="skype:"]::before {
		content: "\f220";
	}

	a[href*="stumbleupon.com"]::before {
		content: "\f223";
	}

	a[href*="tumblr.com"]::before {
		content: "\f214";
	}

	a[href*="twitter.com"]::before {
		content: "\f202";
	}

	a[href*="vimeo.com"]::before {
		content: "\f212";
	}

	a[href*="wordpress.org"]::before,
	a[href*="wordpress.com"]::before {
		content: "\f205";
	}

	a[href*="youtube.com"]::before {
		content: "\f213";
	}

	a[href$="/feed/"]::before,
	a[href$="/feed"]::before,
	a[href$="?feed=rss2"]::before {
		content: "\f413";
	}
}
